<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado De Personas</title>
</head>
<body>
<h3>Listado De Personas</h3>
<!-- {% for task in tasks %}
    <p>{{ forloop.counter }}. {{ task.name }} - {{ task.get_status_display }}
        (<a href="{% url 'tasks:task_update' task.id %}">Editar</a> |
        <a href="{% url 'tasks:task_delete' task.id %}">Eliminar</a>)
    </p>
{% endfor %}

<p> <a href="{% url 'tasks:task_create' %}"> + Agregar Nueva Tarea</a></p> -->
</body>
</html>